# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment and dependency files
.env
.venv/
venv/
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE and editor configurations
.vscode/
.idea/
*.swp

# Ignore Terraform state files and configurations
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
*.backup

# Ignore Git-related files
.git/
.gitignore

# Ignore Docker-related files (except Dockerfile)
docker-compose.yml
